{
	"vk_token": "vk1.a.XIcT2yJWwluQ77JYEQy2_LXbZGKH35Dx_7z0kaC_xS9qmndDbjmhInXjhl3XrHOoIzTjdIfsEE-AjAWmzXOPWipBUZIX7IlCj0Z7OYAgzRCXjH2KV4Gk98IXaB_5KgDkXT4X_rXoLyzggpxTJcx0xAZznn2KShKFHktwij6xoaTHL7Ytm1FTmji13Dy8TM0m",
	"vk_v": "5.131",
	"vk_group_id": 206156309,
	"vk_admin_ids": [1,241324371],
	"song_duration_limit_seconds": 1500,
	"clear_saved_songs": true,
	"allow_anybody_to_manage": true,
	"allow_anybody_to_push_top": false
}